<app-modal modalID="auth">
  <p class="text-2xl font-bold" heading>حساب کاربری</p>

  <app-tabs-container>
    <!-- Login Form -->
    <app-tab tabTitle="ورود">
      <app-login></app-login>
    </app-tab>

    <!-- Registration Form -->
    <app-tab tabTitle="ثبت نام">
      <app-register></app-register> </app-tab
  ></app-tabs-container>
</app-modal>
