     <!-- Registration Form -->
     <form [formGroup]="registerForm">
        <!-- Name -->
        <div class="mb-3">
          <!-- <label class="inline-block mb-2">نام</label>
          <input
            type="text"
            class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
            placeholder=" نام"
            formControlName="name"
            minlength="3"
          />
          @if(registerForm.controls.name.invalid && (registerForm.controls.name.dirty || registerForm.controls.name.touched)){
            <p class="text-red-400">این فیلد اجباری است</p>
          }
          @if(registerForm.controls.name.hasError('minlength')){
            <p class="text-red-400">تعداد حروف باید حداقل {{registerForm.controls.name.errors?.["minlength"]["requiredLength"]}}</p>
          }
           -->

           <app-inputs [control]="registerForm.controls.name" [lable]="'نام'" [placeholder]="'نام'" ></app-inputs>
          
        </div>

        <!-- Email -->
        <div class="mb-3">
          <app-inputs [control]="registerForm.controls.email" [lable]="'ایمیل'" [placeholder]="'ایمیل'" ></app-inputs>
        </div>
        <!-- Age -->
        <div class="mb-3">
          <app-inputs [control]="registerForm.controls.age" [lable]="'سن'" [placeholder]="'سن'" [type]='"number"' ></app-inputs>
        </div>
        <!-- Password -->
        <div class="mb-3">
          <app-inputs [control]="registerForm.controls.password" [lable]="'رمز عبور'" [placeholder]="'رمز عبور'" [type]='"password"' ></app-inputs>
        </div>
        <!-- Confirm Password -->
        <div class="mb-3">
          <app-inputs [control]="registerForm.controls.confirmPassword" [lable]="'تکرار رمز عبور'" [placeholder]="'تکرار رمز عبور'" [type]='"password"' ></app-inputs>
        </div>
        <!-- Phone Number -->
        <div class="mb-3">
          <app-inputs [control]="registerForm.controls.phone" [lable]="'شماره تماس'" [placeholder]="'شماره تماس'" [type]='"number"' ></app-inputs>

        </div>
        <button
          type="submit"
          class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
        >
          ثبت نام
        </button>
      </form>