<app-nav></app-nav>
<!-- Intro Section -->
<section class="relative overflow-hidden mb-2">
  <!-- The video -->
  <video autoplay muted loop class="w-full h-full object-cover absolute z-0">
    <source src="/video/hero.webm" type="video/webm" />
  </video>

  <div class="bg-gradient absolute w-full h-full z-40 opacity-60"></div>

  <div class="w-full h-full absolute z-40">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
  </div>

  <div class="container mx-auto relative z-50">
    <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
      <h3 class="text-7xl font-bold uppercase mb-2">
        بازی کن و به اشتراک بذار!
      </h3>

      <br />
      <p>
        برنامه شماره 1 برای تماشا، کلیپ و به اشتراک گذاری لحظات عالی بازی خود با
        دوستان خود و جهان! ما با ابزارهای کلاس جهانی خود می سازیم به اشتراک
        گذاری ویدیوهای خود فوق العاده آسان است. امروز شروع کنید!
      </p>
    </div>
  </div>
</section>

<!-- Main Content -->
<section class="container mx-auto">
  <h1
    class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest"
  >
    آخرین ها
  </h1>

  <!-- Clips List -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <a
      href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    >
      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="/img/1.jpg" />

      <!-- Shape -->
      <div class="relative">
        <div
          class="absolute pointer-events-none bottom-full w-full bg-secondary text-white"
        >
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg
              viewBox="0 0 100 50"
              preserveAspectRatio="none"
              class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2)"
            >
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">
        <!-- Heading -->
        <h2 class="text-3xl mb-2">Game Highlighting Clip</h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Luis Ramirez &#183;
          <span class="text-gray-400">March 31, 2020</span>
        </p>
      </div>
    </a>
    <a
      href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    >
      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="/img/2.jpg" />

      <!-- Shape -->
      <div class="relative">
        <div
          class="absolute pointer-events-none bottom-full w-full bg-secondary text-white"
        >
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg
              viewBox="0 0 100 50"
              preserveAspectRatio="none"
              class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2)"
            >
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">
        <!-- Heading -->
        <h2 class="text-3xl mb-2">Game Highlighting Clip</h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Luis Ramirez &#183;
          <span class="text-gray-400">March 31, 2020</span>
        </p>
      </div>
    </a>
    <a
      href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    >
      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="/img/3.jpg" />

      <!-- Shape -->
      <div class="relative">
        <div
          class="absolute pointer-events-none bottom-full w-full bg-secondary text-white"
        >
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg
              viewBox="0 0 100 50"
              preserveAspectRatio="none"
              class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2)"
            >
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">
        <!-- Heading -->
        <h2 class="text-3xl mb-2">Game Highlighting Clip</h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Luis Ramirez &#183;
          <span class="text-gray-400">March 31, 2020</span>
        </p>
      </div>
    </a>
    <a
      href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    >
      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="/img/2.jpg" />

      <!-- Shape -->
      <div class="relative">
        <div
          class="absolute pointer-events-none bottom-full w-full bg-secondary text-white"
        >
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg
              viewBox="0 0 100 50"
              preserveAspectRatio="none"
              class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2)"
            >
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">
        <!-- Heading -->
        <h2 class="text-3xl mb-2">Game Highlighting Clip</h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Luis Ramirez &#183;
          <span class="text-gray-400">March 31, 2020</span>
        </p>
      </div>
    </a>
    <a
      href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    >
      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="/img/3.jpg" />

      <!-- Shape -->
      <div class="relative">
        <div
          class="absolute pointer-events-none bottom-full w-full bg-secondary text-white"
        >
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg
              viewBox="0 0 100 50"
              preserveAspectRatio="none"
              class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2)"
            >
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">
        <!-- Heading -->
        <h2 class="text-3xl mb-2">Game Highlighting Clip</h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Luis Ramirez &#183;
          <span class="text-gray-400">March 31, 2020</span>
        </p>
      </div>
    </a>
    <a
      href="#"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    >
      <!-- Image -->
      <img class="card-img-top rounded-tl-2xl w-full" src="/img/1.jpg" />

      <!-- Shape -->
      <div class="relative">
        <div
          class="absolute pointer-events-none bottom-full w-full bg-secondary text-white"
        >
          <div class="absolute bottom-full w-full pb-5 overflow-hidden">
            <svg
              viewBox="0 0 100 50"
              preserveAspectRatio="none"
              class="absolute bottom-0 w-full h-full tranform"
              style="transform-origin: top center; transform: scale(2)"
            >
              <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="p-8">
        <!-- Heading -->
        <h2 class="text-3xl mb-2">Game Highlighting Clip</h2>

        <!-- Name & Date -->
        <p class="mb-0">
          Luis Ramirez &#183;
          <span class="text-gray-400">March 31, 2020</span>
        </p>
      </div>
    </a>
  </div>
</section>

<!-- Auth Modal -->

<app-auth-modal></app-auth-modal>
