  <!-- Tabs -->
  <ul class="flex flex-wrap mb-4 gap-4">
    @for (item of tabs; track $index) {
      <li class="flex-auto text-center">
       <a class="block rounded py-3 px-4 transition hover:text-white text-white
         bg-indigo-400" [ngClass]="{'hover:text-indigo-400':!item.active,'hover:text-white text-white bg-indigo-400':item.active}"
         (click)="selectTab(item)">{{item.tabTitle}}</a>
     </li>
    }



   </ul>
 <ng-content></ng-content>
