<form #loginForm="ngForm" (ngSubmit)="onsubmit(loginForm)">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">ایمیل</label>
    <input
      type="email"
      email
      required
      ngModel
      name="email"
      #emaill="ngModel"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder=" ایمیل"
    />
    @if(emaill.errors?.['required'] && (emaill.touched || emaill.dirty)){
    <p class="text-red-400">این فیلد اجباری است</p>
    } @if(emaill.errors?.['email']){
    <p class="text-red-400">ایمیل معتبر نیست</p>
    }
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">رمز عبور</label>
    <input
      type="password"
      required
      ngModel
      name="password"
      minlength="8"
      #passwordd="ngModel"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="رمز عبور"
    />
    @if(passwordd.errors?.['required'] && (passwordd.touched ||
    passwordd.dirty)){
    <p class="text-red-400">این فیلد اجباری است</p>
    }@if(passwordd.errors?.['minlength']&& (passwordd.touched ||
    passwordd.dirty)){
    <p class="text-red-400">
      طول این فیلد حداقل باید
      {{passwordd.errors?.['minlength']['requiredLength']}}
      کاراکتر باشد .
    </p>
    }
  </div>

  <button
    type="submit"
    [disabled]="loginForm.invalid"
    class="block w-full text-white py-1.5 px-3 rounded transition"
    [class]="{
      'bg-indigo-400': !loginForm.invalid,
      'hover:bg-indigo-500': !loginForm.invalid,
      'bg-gray-400': loginForm.invalid
    }"
  >
    ورود
  </button>
</form>
